/*
--------------------------------------------------
jssor slider bullet navigator skin 05 css
--------------------------------------------------
*/
/* jssor slider bullet navigator skin 06 css */
/*
.jssorb06 div           (normal)
.jssorb06 div:hover     (normal mouseover)
.jssorb06 .av           (active)
.jssorb06 .av:hover     (active mouseover)
.jssorb06 .dn           (mousedown)
*/
.jssorb06 {
    position: absolute;
}
.jssorb06 div, .jssorb06 div:hover, .jssorb06 .av {
    position: absolute;
    /* size of bullet elment */
    width: 18px;
    height: 18px;
    background: url('/static/hazelsdessertshoppe/images/carousel/b06.png') no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb06 div { background-position: -6px -6px; }
.jssorb06 div:hover, .jssorb06 .av:hover { background-position: -36px -6px; }
.jssorb06 .av { background-position: -66px -6px; }
.jssorb06 .dn, .jssorb06 .dn:hover { background-position: -96px -6px; }

/* jssor slider arrow navigator skin 05 css */
/*
.jssora05l                  (normal)
.jssora05r                  (normal)
.jssora05l:hover            (normal mouseover)
.jssora05r:hover            (normal mouseover)
.jssora05l.jssora05ldn      (mousedown)
.jssora05r.jssora05rdn      (mousedown)
*/
.jssora05l, .jssora05r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: url('/static/hazelsdessertshoppe/images/carousel/a17.png') no-repeat;
    overflow: hidden;
}
.jssora05l { background-position: -10px -40px; }
.jssora05r { background-position: -70px -40px; }
.jssora05l:hover { background-position: -130px -40px; }
.jssora05r:hover { background-position: -190px -40px; }
.jssora05l.jssora05ldn { background-position: -250px -40px; }
.jssora05r.jssora05rdn { background-position: -310px -40px; }

/*
--------------------------------------------------
Custom styles
--------------------------------------------------
*/
.carousel-background-image {
	opacity: .5;
}
.carousel-header {
	font-family: SignPainter, Sans-Serif;
	font-size: 72pt;
}
.carousel-subheader {
	font-family: SignPainter, Sans-Serif;
	font-size: 44pt;
}
