{% load staticfiles %}
		<!-- Fixed navbar -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="pull-left navbar-img" href="/"><img class="img-responsive" src="{% static 'hazelsdessertshoppe/images/logo.png' %}"></a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/about">About</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menus <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/pies">Pies</a></li>
								<li><a href="/cookies">Cookies</a></li>
								<li><a href="/cakes">Cakes</a></li>
								<li><a href="/bread">Bread</a></li>
								<li role="separator" class="divider"></li>
								<li class="dropdown-header">Even more...</li>
								<li><a href="/coffee">Coffee</a></li>
								<li><a href="/tea">Hot tea</a></li>
							</ul>
						</li>
						<li><a href="/catering">Catering</a></li>
						<li><a href="/contact">Contact</a></li>
						<li><a href="/help">Help</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</nav>
